body { 
  background-color: #f19d9d;
   color: #983328;
   font-family: 'Lora', serif;
   font-size: 16px;
 }



h1, h2, h3 { 
	font-family: 'Poppins', sans-serif;
	color: #680e04;
}	
 h1 { 
 	font-size: 32px;
 	font-weight: 700;
 }

 h2 { font-size: 24;
 	font-weight:bold ;
 }

a { 
	text-decoration: none;
	color: #680e04;
}
a :hover { 
	color: #ee6c5d;
}

/* Custom design with class */

.container { 
	width: 700px;
	margin: 40px auto;
}

@media (max-with: 500px) { 
	.container {
		with: 400px;
	}
}

@media (max-with: 760px) { 
	.container {
		with: 600px;
  }
}



.card-white { 
	background-color: #eec7c2;
	padding: 40px;
	margin: 20px 0px;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 1.0);
	text-align: center;
}

.img-circle { 
	border-radius:50%;
	margin: 0 auto;
}

.btn-pink { 
	background-color: #680e04;
	color: #eec7c2;
	padding: 15px 20px;
	border-radius: 10px;
}

.btn-pink:hover { 
	background-color:#f19d9d;
	color: #680e04 ;
}

.list-horizontal { 
	list-style: none;
	padding-left: 0px;
}

.list-horizontal li { 
	display: inline;
	padding: 10px;
}

.list-horizontal i { 
	font-size: 50px;
}

#introduction p { 
	margin-bottom: 40px;
}



